p,
span {
	font-size: 1.2rem;
}

.title {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 6rem;
}

.title h2,
.title p {
	text-align: center;
}
.title h2 {
	font-size: 2.6rem;
}

.title label {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-size: 1.8rem;

	color: var(--primary);
	background-color: transparent;
	border: 1px solid var(--primary);
	border-radius: 50%;

	height: 32px;
	width: 32px;
}

.title label:hover,
.title label:active {
	color: #fff;
	background-color: var(--primary);
	cursor: pointer;

	transition: all 0.4s;
}

.title .title-filename {
	color: var(--primary);
}
