label {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-size: 1.8rem;

	color: var(--primary);
	background-color: transparent;
	border: 1px solid var(--primary);
	border-radius: 50%;

	height: 32px;
	width: 32px;
}

label:hover,
label:active {
	color: #fff;
	background-color: var(--primary);
	cursor: pointer;

	transition: all 0.4s;
}

.title-filename {
	color: var(--primary);
}
